@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.App-div {
  background-color: beige;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px; padding: 40px; border-radius: 30px;
  width : 60%;
}

.App-title {
  text-align: center;
  font-size: 70px;
  padding-bottom: 40px; margin:5px;
}